/* Border test */
* {
    border: 2px solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar */
sidebar {
    grid-row: 1 / 3;
}

/* Header */
header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header #header-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

header #header-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

header .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header .action-buttons button {
    padding: 5px;
    margin: 5px;
}

/* Main */
main {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

main #projects-section {
    grid-row: 1 / 3;
}

.article-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article {
    height: 150px;
}

#announcements-section {
    grid-row: 1 / 2;
}

#trending-section {
    grid-row: 2 / 3;
}