/* https://coolors.co/493548-4b4e6d-6a8d92-80b192-a1e887 */

:root {
    --color-1: #493548;
    --color-2: #4B4E6D;
    --color-3: #6A8D92;
    --color-4: #80B192;
    --color-dashboard: #A1E887;
    --color-6: #e5e5e5;
}

/* Border test */
* {
    border: 2px solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar */
sidebar {
    grid-row: 1 / 3;
    /* display: grid; */
    /* justify-content: center;
    align-items: center; */
    /* background-color: var(--color-dashboard); */
}

sidebar ul {
    display: grid;
    grid-template-columns: 1fr 3fr;
    list-style-type: none;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

#dashboard-title {
    padding: 20px;
}

.dashboard-page-icon {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

/* Header */
header {
    display: grid;
    grid-template-rows: 60px 1fr;
}

#header-top {
    display: grid;
    grid-template-columns: 1fr 250px;
    justify-content: center;
    align-items: center;
}

#header-top #notifications-and-profile {
    display: grid;
    grid-template-columns: 40px 40px 80px;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
}

#header-bottom {
    display: grid;
    grid-template-columns: 60px 1fr 300px;
    justify-content: center;
    align-items: center;
}

#welcome-text {
    justify-content: start;
}

#header-bottom .container-action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#header-bottom .container-action-buttons button {
    width: 80px;
    padding: 5px;
    margin: 5px;
}

#notification-icon,
#user-profile-icon {
    height: 35px;
    width: 35px;
}

#welcome-user-profile-icon {
    height: 50px;
    width: 50px;
}

/* Main */
main {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

main #projects-section {
    grid-row: 1 / 3;
}

.article-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article {
    height: 150px;
    padding: 5px;
    margin: 5px;
}

#announcements-section {
    grid-row: 1 / 2;
}

#trending-section {
    grid-row: 2 / 3;
}